.page-chat-component {
    padding: 45px 0px;
}

/* TAB */
.chat-tab {
    background-color: #fbfbfb;
    display: block;
    height: 550px;
    margin: 0px;
    overflow-y: auto;
    padding: 0px;
    width: 100%;
}

.chat-tab-items {
    background-color: #efeeee;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    padding: 15px;
}

.chat-tab-tems_thumb {
    position: relative;
}

.chat-tab-tems_thumb::before {
    background-color: #649b10;
    border-radius: 50%;;
    bottom: 0px;
    content: "";
    display: block;
    height: 10px;
    right: 5px;
    position: absolute;
    width: 10px;
}

.chat-tab-items img {
    width: 40px;
}
.chat-tab-tems_infor {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.user-have-admin-support {
    background-color: #d6d777;
}

.infor-account {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.infor-user {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .3px;
}

.infor-role {
    font-size: 14px;
}

/* CHAT CONTENT */

.chat-content {
    background-color: #e4e7e4;
    height: 100%;
    padding: 10px;
    width: 100%;
}

.chat-content-messages {
    background-color: #fdfdfd;
    height: 430px;
    margin-bottom: 20px;
    padding: 15px;
    overflow-y: auto;
    width: 100%;
}

.message-items {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.message-items-admin {
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.message-items .message-items_thumb {
    margin-right: 10px;
}

.message-items-admin .message-items_thumb {
    margin-left: 10px;
    margin-right: 0px;
}

.message-items .message-items_thumb img {
    width: 40px;
}

.message-items_content {
    display: block;
    width: 50%;
    word-break: break-word;
}

.message-items-admin .message-items_content {
    text-align: right;
}

/* CHAT INPUT */

.chat-content-input {
    background-color: #fdfdfd;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 80px;
    padding: 15px;
    width: 100%;
}

.input-message-content {
    border: 1px solid #ebebeb;
    padding: 10px;
    width: calc(100% - (10% + 15px));
}

.input-message-content:focus {
    outline-color: #cdcdcd;
}

.button-send-message-content {
    background-color: transparent;
    border: unset;
    outline: unset;
    width: calc(10% - 15px);
}

.button-send-message-content svg {
    fill: rgb(72, 176, 247) !important;
}